header {
  height: 138px;
  padding-top: var(--header-padding-top);
  justify-content: space-between;

  @media (max-width: 1400px) {
    height: 96px;
    padding-top: 0;
  }

  @media (max-width: 768px) {
    height: 88px;
    padding: 24px;
  }

  .header__logo {
    padding-inline: 64px;

    @media (max-width: 1400px) {
      padding-left: 40px;
    }
    @media (max-width: 768px) {
      padding: 0px;
    }
  }
  .header__line {
    height: 1px;
    width: 560px;
    background-color: #979797;
    opacity: 25%;
    flex: 1;
    position: relative;
    z-index: 10;
    margin-right: -50px;
    @media (max-width: 1400px) {
      display: none;
    }
  }

  .mobile-nav-toggle {
    border: none;
    background: none;
    cursor: pointer;

    .mobile-nav__icon {
      width: 24px;
      height: 21px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 6px;

      span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: var(--blue-300);
      }
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  .primary-nav {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(30px);
    flex: 1.3;

    @media (max-width: 768px) {
      background-color: rgba(11, 13, 23, 0.6);
      backdrop-filter: blur(30px);
      position: fixed;
      right: 0;
      top: 0;
      height: 100vh;
      width: 254px;
      display: flex;
      flex-direction: column;
      gap: 48px;
      z-index: 100;
      transform: translateX(100%);
      transition: transform 0.8s ease;

      &[data-visible="true"] {
        transform: translateX(0);
      }
    }
    .mobile-nav__header {
      display: flex;
      justify-content: end;
      padding-top: 32px;
      padding-right: 24px;
      display: none;

      .mobile-nav__close {
        background: none;
        border: none;
        cursor: pointer;
      }
      @media (max-width: 768px) {
        display: flex;
      }
    }

    .primary-nav__list {
      gap: 48px;
      justify-content: right;
      padding-inline: 64px;

      @media (max-width: 1440px) {
        padding-inline: 40px;
      }

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 32px;
        align-items: stretch;
        padding-left: 32px;
        padding-right: 0;
      }

      .primary-nav__item {
        font-family: var(--font-barlowCondensed);
        height: 96px;
        gap: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        border-bottom: 3px solid transparent;
        transition: border-color 0.3s ease;

        a {
          color: var(--white-color);
          height: 100%;
          display: flex;
          align-items: center;
          gap: 12px;
          .primary-nav__number {
            font-weight: bold;
            letter-spacing: 2.7px;
            font-size: 16px;
          }
        }
        &:not(.primary-nav__item--active):hover {
          border-bottom-color: var(--hover-color);
        }

        @media (max-width: 768px) {
          border-bottom: none;
          height: auto;
          border-right: 3px solid transparent;
          transition: border-color 0.3s ease;

          &:not(.primary-nav__item--active):hover {
            border-bottom-color: transparent;
            border-right-color: var(--hover-color);
          }
        }
      }

      .primary-nav__item--active {
        border-bottom: 3px solid var(--white-color);
        @media (max-width: 768px) {
          border-bottom: none;
          border-right: 3px solid var(--white-color);
        }
      }
    }
  }
}

.page-hero--home {
  .page-main--home {
    padding-block: 128px;

    .hero-text__body {
      display: flex;
      flex-direction: column;
      gap: 24px;

      @media (max-width: 1400px) {
        justify-content: center;
        align-items: center;
      }

      .hero-text__subtitle {
        color: var(--blue-300);
        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
      .hero-text__title {
        color: var(--white-color);
        text-transform: uppercase;
        font-size: 144px;
        font-weight: 100;
        @media (max-width: 768px) {
          font-size: 80px;
        }
      }
      .hero-text__description {
        font-size: 18px;
        color: var(--blue-300);
        font-family: var(--font-barlow);
        max-width: 540px;
        line-height: 180%;

        @media (max-width: 1400px) {
          text-align: center;
          max-width: 586px;
          font-size: 16px;
        }
        @media (max-width: 768px) {
          font-size: 15px;
        }
      }
    }

    .hero-text__action {
      display: flex;
      justify-content: end;
      .explore-btn {
        width: 272px;
        height: 272px;
        background-color: var(--white-color);
        border-radius: 50%;
        font-size: 32px;
        color: var(--blue-900);
        border: none;
        font-weight: 100;
        text-transform: uppercase;
        @media (max-width: 768px) {
          width: 144px;
          height: 144px;
          font-size: 18px;
        }
      }

      @media (max-width: 1400px) {
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.page-main--destination,
.page-main--crew,
.page-main--technology {
  padding-block: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.destination__title,
.crew__title,
.technology__title {
  font-weight: 100;
  gap: 24px;

  @media (max-width: 768px) {
    justify-content: center;
    font-size: 16px;
  }
}

.page-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  @media (max-width: 1440px) {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .destination__heading {
    .destination_image-wrapper {
      padding-block: 127px;
      padding-inline: 30px;
      display: flex;
      justify-content: center;

      @media (max-width: 1440px) {
        padding-block: 42px;
        padding-inline: 194px;
      }

      @media (max-width: 768px) {
        padding-block: 26px;
        padding-inline: 0;
      }
    }
  }

  .destination__content-wrapper {
    .destination__content,
    .crew__content,
    .technology__content {
      padding-inline: 47px;
      padding-block: 133px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      @media (max-width: 1440px) {
        padding-block: 12px;
        padding-inline: 87px;
        gap: 24px;
      }
      @media (max-width: 768px) {
        padding-block: 0;
        padding-inline: 0;
      }
      .destination__tabs {
        gap: 32px;

        @media (max-width: 1440px) {
          justify-content: center;
        }
        .destination__tab {
          border-bottom: 3px solid transparent;
          transition: border-color 0.3s ease;

          a {
            color: var(--blue-300);
            font-family: var(--font-barlowCondensed);
            letter-spacing: 2px;
            font-size: 16px;
            transition: text-color 0.3s ease;
          }

          &:not(.destination__tab--active):hover {
            border-bottom-color: var(--hover-color);
            a {
              color: var(--white-color);
            }
          }
        }
        .destination__tab--active {
          border-bottom-color: var(--white);
          a {
            color: var(--white-color);
          }
        }
      }

      .destination__info,
      .crew__info {
        gap: 16px;
        .destination__planet-name {
          font-size: 96px;
          font-weight: 100;
          text-transform: uppercase;
          @media (max-width: 1440px) {
            font-size: 80px;
          }
          @media (max-width: 768px) {
            font-size: 56px;
          }
        }

        .destination__description,
        .crew__description,
        .technology__description {
          font-family: var(--font-barlow);
          font-size: 18px;
          line-height: 180%;
          color: var(--blue-300);
          max-width: 445px;
          @media (max-width: 1440px) {
            font-size: 16px;
            max-width: 514px;
          }
        }
      }

      .destination__divider {
        background-color: #979797;
        height: 1px;
        width: 100%;
      }

      .destination__stats {
        display: flex;
        justify-content: space-between;
        gap: 24px;

        @media (max-width: 1440px) {
          justify-content: space-around;
        }

        .destination__stat {
          display: flex;
          flex-direction: column;
          gap: 12px;
          text-transform: uppercase;

          .destination__stat-label {
            font-size: 14px;
            font-family: var(--font-barlowCondensed);
            letter-spacing: 2px;
            font-weight: 100;
            color: var(--blue-300);
          }
          .destination__stat-value {
            font-size: 28px;
          }
        }
      }
    }
  }
}

.destination__image,
.crew__image {
  width: 100%;
  max-width: 480px;
  height: auto;
  display: block;

  @media (max-width: 1440px) {
    max-width: 300px;
  }

  @media (max-width: 768px) {
    max-width: 150px;
  }
}

.crew__info {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: 1440px) {
    gap: 24px;
    align-items: center;
  }
}
.crew__member {
  gap: 24px;
  display: flex;
  flex-direction: column;
  padding-block: 197px;
  @media (max-width: 1440px) {
    padding-block: 64px;
    align-items: center;
    padding-bottom: 40px;
  }
}

.crew__member-heading,
.technology__member-heading {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (max-width: 768px) {
    gap: 8px;
  }
}

.crew__subtitle,
.technology__subtitle {
  font-size: 32px;
  text-transform: uppercase;
  opacity: 50%;
  @media (max-width: 1440px) {
    font-size: 24px;
  }
}
.crew__crew-name,
.technology__technology-name {
  font-weight: 100;
  font-size: 56px;
  text-transform: uppercase;
  @media (max-width: 1440px) {
    font-size: 40px;
  }
  @media (max-width: 768px) {
    font-size: 24px;
  }
}
.crew__description,
.technology__description {
  font-size: 18px;
  line-height: 180%;
  color: var(--blue-300);
  max-width: 540px;
  font-family: var(--font-barlow);
  @media (max-width: 1440px) {
    font-size: 16px;
    max-width: 512px;
  }
  @media (max-width: 768px) {
    max-width: none;
  }
}

.crew__bullets {
  .crew__bullets-list {
    display: flex;
    align-items: center;
    gap: 40px;
    .crew__bullet {
      cursor: pointer;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 17.44%);
      @media (max-width: 1440px) {
        width: 10px;
        height: 10px;
      }
    }
    @media (max-width: 1440px) {
      gap: 16px;
    }
    .crew__bullet--active {
      background-color: var(--white-color);
    }
  }
}

.crew_image-wrapper {
  display: flex;
  justify-content: center;
}

/* technology page */
.page-main--technology {
  padding-inline: 0;
}
.technology__grid {
  grid-template-columns: 1.2fr 1fr;
  @media (max-width: 1440px) {
    grid-template-columns: 1fr;
  }
}

.technology__content-wrapper {
  @media (max-width: 1400px) {
    order: 1;
  }
}
.technology__content {
  display: flex;
  gap: 64px;
  align-items: center;
  justify-content: center;
  padding-left: var(--container-padding);

  @media (max-width: 1400px) {
    flex-direction: column;
    gap: 40px;
    padding-right: var(--container-padding);
  }
}

.technology__info {
  display: flex;
  gap: 64px;
  align-items: center;
}

.technology__member {
  gap: 24px;
  display: flex;
  flex-direction: column;
  @media (min-width: 1440px) {
    padding-block: 216px;
  }
  @media (max-width: 1440px) {
    gap: 16px;
  }
}

.technology__bullets {
  .technology__bullets-list {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (max-width: 1400px) {
      flex-direction: row;
      gap: 16px;
    }

    .technology__bullet {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--white-color);
      font-size: 32px;
      border: 1px solid rgba(255, 255, 255, 25%);
      transition: border-color 0.3s ease;
      cursor: pointer;
      &:hover {
        border-color: var(--white-color);
      }

      @media (max-width: 1400px) {
        font-size: 24px;
        width: 56px;
        height: 56px;
      }
    }
    .technology__bullet--active {
      background-color: var(--white-color);
      color: var(--blue-900);
    }
  }
}

.technology__image-wrapper {
  align-items: center;
  height: 100%;
  display: flex;
  padding-block: 67px;

  @media (max-width: 1440px) {
    padding-bottom: 0;
  }

  .technology__image {
    display: block;
    width: 100%;
    height: 100%;
  }
}
