header {
  height: 138px;
  padding-top: var(--header-padding-top);
  justify-content: space-between;

  @media (max-width: 1400px) {
    height: 96px;
    padding-top: 0;
  }

  @media (max-width: 768px) {
    height: 88px;
    padding: 24px;
  }

  .header__logo {
    padding-inline: 64px;

    @media (max-width: 1400px) {
      padding-left: 40px;
    }
    @media (max-width: 768px) {
      padding: 0px;
    }
  }
  .header__line {
    height: 1px;
    width: 560px;
    background-color: #979797;
    opacity: 25%;
    flex: 1;
    position: relative;
    z-index: 10;
    margin-right: -50px;
    @media (max-width: 1400px) {
      display: none;
    }
  }

  .mobile-nav-toggle {
    border: none;
    background: none;
    cursor: pointer;

    .mobile-nav__icon {
      width: 24px;
      height: 21px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 6px;

      span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #d0d6f9;
      }
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  .primary-nav {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(30px);
    flex: 1.3;

    @media (max-width: 768px) {
      background-color: rgba(11, 13, 23, 0.6);
      backdrop-filter: blur(30px);
      position: fixed;
      right: 0;
      top: 0;
      height: 100vh;
      width: 254px;
      display: flex;
      flex-direction: column;
      gap: 48px;
      z-index: 100;
      transform: translateX(100%);
      transition: transform 0.8s ease;

      &[data-visible="true"] {
        transform: translateX(0);
      }
    }
    .mobile-nav__header {
      display: flex;
      justify-content: end;
      padding-top: 32px;
      padding-right: 24px;
      display: none;

      .mobile-nav__close {
        background: none;
        border: none;
        cursor: pointer;
      }
      @media (max-width: 768px) {
        display: flex;
      }
    }

    .primary-nav__list {
      gap: 48px;
      justify-content: right;
      padding-inline: 64px;

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 32px;
        align-items: stretch;
        padding-left: 32px;
        padding-right: 0;
      }

      .primary-nav__item {
        font-family: var(--font-barlowCondensed);
        height: 96px;
        gap: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        border-bottom: 3px solid transparent;
        transition: border-color 0.3s ease;

        a {
          color: var(--white-color);
          height: 100%;
          display: flex;
          align-items: center;
          gap: 12px;
          .primary-nav__number {
            font-weight: bold;
            letter-spacing: 2.7px;
            font-size: 16px;
          }
        }
        &:not(.primary-nav__item--active):hover {
          border-bottom-color: rgba(255, 255, 255, 0.5);
        }

        @media (max-width: 768px) {
          border-bottom: none;
          height: auto;
          border-right: 3px solid transparent;
          transition: border-color 0.3s ease;

          &:not(.primary-nav__item--active):hover {
            border-bottom-color: transparent;
            border-right-color: rgba(255, 255, 255, 0.5);
          }
        }
      }

      .primary-nav__item--active {
        border-bottom: 3px solid var(--white-color);
        @media (max-width: 768px) {
          border-bottom: none;
          border-right: 3px solid var(--white-color);
        }
      }
    }
  }
}

.hero-home {
  background: url("../assets/home/background-home-desktop.jpg") no-repeat center;
  background-size: cover;
  background-color: var(--bg-color);
  height: 100dvh;

  .hero__main {
    display: grid;
    grid-template-columns:
      [full-start] minmax(var(--container-padding), 1fr)
      [content-start] minmax(0, 80rem)
      [content-end] minmax(var(--container-padding), 1fr)
      [full-end];

    padding-block: 128px;

    & > * {
      grid-column: content;
    }

    @media (max-width: 768px) {
      padding-block: 24px;
    }

    .hero-text {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      @media (max-width: 1400px) {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        gap: 66px;
      }

      .hero-text__body {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media (max-width: 1400px) {
          justify-content: center;
          align-items: center;
        }

        .hero-text__subtitle {
          font-size: 28px;
          text-transform: uppercase;
          letter-spacing: 4px;
          color: #d0d6f9;
          font-family: var(--font-barlowCondensed);
          @media (max-width: 768px) {
            font-size: 16px;
          }
        }
        .hero-text__title {
          color: var(--white-color);
          text-transform: uppercase;
          font-size: 144px;
          font-weight: 100;
          @media (max-width: 768px) {
            font-size: 80px;
          }
        }
        .hero-text__description {
          font-size: 18px;
          color: #d0d6f9;
          font-family: var(--font-barlow);
          max-width: 540px;
          line-height: 180%;

          @media (max-width: 1400px) {
            text-align: center;
            max-width: 586px;
            font-size: 16px;
          }
          @media (max-width: 768px) {
            font-size: 15px;
          }
        }
      }
    }

    .hero-text__action {
      display: flex;
      justify-content: end;
      .explore-btn {
        width: 272px;
        height: 272px;
        background-color: var(--white-color);
        border-radius: 50%;
        font-size: 32px;
        color: var(--blue-900);
        border: none;
        font-weight: 100;
        text-transform: uppercase;
        @media (max-width: 768px) {
          width: 144px;
          height: 144px;
          font-size: 18px;
        }
      }

      @media (max-width: 1400px) {
        justify-content: center;
        align-items: center;
      }
    }
  }
}
